:root
{
    --main-color: #333;
    --highlight-color: #444;
}

body
{
    margin: 0;
    padding: 0;
    font-family: Helvetica;
    color: var(--main-color);
}

#topBar
{
    list-style-type: none;
    margin: 0;
    padding: 0;
    width: 100%;
    overflow: hidden;
    background-color: var(--main-color);
}

#topBar li
{
    float: left;
}
#topBar li a
{
    color: white;
    float: left;
    display: block;
    text-align: center;
    padding: 14px 16px;
    text-decoration: none;
}

#topBar li a:hover
{
    background-color: var(--highlight-color);
}

#bodyContainer
{
    margin: 16px;
}